<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Fragment #1 : Headerfiles contains css and js references -->
<head th:fragment="headerfiles">
    <title>Introduction to SpringBoot Security</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet"  href="../static/css/bootstrap.min.css" >
    <link th:href="@{~/css/fontawesome/css/all.css}" rel="stylesheet">
       <link th:href="@{~/css/estilos.css}" rel="stylesheet"  href="../static/css/bootstrap.min.css" >
    
</head>
<body>
<!-- Fragment #2 : Navbar contains nav links -->
<div th:fragment="nav">
	<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" th:href="@{~/signup}">Albert</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
         
        <a class="nav-link" href="#" th:href="@{~/signup}">Signup</a>
        <a class="nav-link" href="#" th:href="@{~/stairs}">Climbing Stairs</a>
        <a class="nav-link" href="#" th:href="@{~/excel}">Excel sheet</a>
        
      </div>
    </div>
  </div>
</nav>
</div>
	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" src="../static/js/bootstrap.bundle.min.js"></script>

</div>
</body>

</html>