 <link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet"  href="../static/css/bootstrap.min.css" >
    <link th:href="@{~/css/fontawesome/css/all.css}" rel="stylesheet">
       <link th:href="@{~/css/estilos.css}" rel="stylesheet"  href="../static/css/estilos.css" >
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<!-- Page content goes here -->
<div class="container px-4 pt-5">
  <div class="row gx-5">
    <div class="col-md-6 offset-md-3">
     <div class="p-3 border bg-light">
		<form action=""  id="formulario">
		<div class="mb-3  pt-3">
			<!-- Grupo: Usuario -->
			<div class="formulario__grupo pt-3" id="grupo__usuario">
				
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input form-control" name="usuario" id="usuario" placeholder="username">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error text-danger ">username: Must have at least 8 characters</p>
			</div>
			
			<!-- Grupo: Contraseña -->
			<div class="formulario__grupo pt-3" id="grupo__password">
				
				<div class="formulario__grupo-input">
					<input type="password" class="formulario__input form-control" name="password" id="password" placeholder="password">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error text-danger ">Password: Must contain a capital letter, a special character and number.</p>
			</div>

			<!-- Grupo: Contraseña 2 -->
			<div class="formulario__grupo pt-3" id="grupo__password2">
				
				<div class="formulario__grupo-input">
					<input type="password" class="formulario__input form-control" name="password2" id="password2" placeholder="confirm password">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error text-danger  ">Must be equal to password field..</p>
			</div>

			<!-- Grupo: Correo Electronico -->
			<div class="formulario__grupo pt-3" id="grupo__correo">
				
				<div class="formulario__grupo-input">
					<input type="email" class="formulario__input form-control" name="correo" id="correo" placeholder="email">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error text-danger ">email: must be a valid email address. </p>
			</div>
			<div class="formulario__mensaje" id="formulario__mensaje">
				<p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
			</div>
			<div class="formulario__grupo formulario__grupo-btn-enviar">
				<button type="submit" class="btn btn-primary">Enviar</button>
				<p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
			</div>
			</div>
		</form>
	
</div>
</div>
</div>
</div>
	<script src="js/formulario.js"></script>
	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>

<script src="js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" src="../static/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/formulario.js}" src="../static/js/formulario.js"></script>
</body>
</html>